version: "3.3"
services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: MyStore
      POSTGRES_USER: Sebas
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data:
